[
{:category :clojure.data.avl.functions,
 :parametric
 [{:describe "nearest",
   :params
   {:coll ["nil" "[]" "[1 2 3]"],
    :test ["nil" "true" "false"],
    :x ["0" "1" "-1"]},
   :template "(clojure.data.avl/nearest %coll %test %x)"}
  {:describe "rank-of",
   :params
   {:coll ["nil" "[]" "[1 2 3]" "'(1 2 3)" "{:a 1 :b 2}"],
    :x ["0" "1" "-1" "42" "3.14"]},
   :template "(clojure.data.avl/rank-of %coll %x)"}
  {:describe "sorted-map-by",
   :params
   {:comparator ["nil" "true" "false" "0" "1" "-1" "42" "3.14"]},
   :template "(clojure.data.avl/sorted-map-by %comparator)"}
  {:describe "sorted-set-by",
   :params
   {:comparator ["nil" "true" "false" "0" "1" "-1" "42" "3.14"]},
   :template "(clojure.data.avl/sorted-set-by %comparator)"}
  {:describe "split-at",
   :params
   {:n ["0" "1" "-1" "42" "3.14"],
    :coll ["nil" "[]" "[1 2 3]" "'(1 2 3)" "{:a 1 :b 2}"]},
   :template "(clojure.data.avl/split-at %n %coll)"}
  {:describe "split-key",
   :params
   {:k [":a" ":b" ":foo" ":bar/baz"],
    :coll ["nil" "[]" "[1 2 3]" "'(1 2 3)" "{:a 1 :b 2}"]},
   :template "(clojure.data.avl/split-key %k %coll)"}
  {:describe "subrange",
   :params
   {:coll ["nil" "[]" "[1 2 3]"],
    :test ["nil" "true" "false"],
    :limit ["nil" "true" "false"]},
   :template "(clojure.data.avl/subrange %coll %test %limit)"}]}
]
