[
{:category :clojure.data.csv.functions,
 :parametric
 [{:describe "read-csv",
   :params {:input ["nil" "true" "false" "0" "1" "-1" "42" "3.14"]},
   :template "(clojure.data.csv/read-csv %input)"}
  {:describe "read-csv-from",
   :params
   {:input ["nil" "true" "false"],
    :sep ["nil" "true" "false"],
    :quote ["nil" "true" "false"]},
   :template "(clojure.data.csv/read-csv-from %input %sep %quote)"}
  {:describe "write-csv",
   :params
   {:writer ["nil" "true" "false" "0" "1"],
    :data ["nil" "true" "false" "0" "1"]},
   :template "(clojure.data.csv/write-csv %writer %data)"}]}
]
