[
{:category :clojure.core.protocols.functions,
 :parametric
 [{:describe "coll-reduce",
   :params
   {:coll ["nil" "[]" "[1 2 3]" "'(1 2 3)" "{:a 1 :b 2}"],
    :f ["inc" "dec" "identity" "str" "keyword"]},
   :template "(clojure.core.protocols/coll-reduce %coll %f)"}
  {:describe "datafy",
   :params {:o ["nil" "true" "false" "0" "1" "-1" "42" "3.14"]},
   :template "(clojure.core.protocols/datafy %o)"}
  {:describe "internal-reduce",
   :params
   {:seq ["nil" "true" "false"],
    :f ["inc" "dec" "identity"],
    :start ["0" "1" "-1"]},
   :template "(clojure.core.protocols/internal-reduce %seq %f %start)"}
  {:describe "iterator-reduce!",
   :params
   {:iter ["nil" "true" "false" "0" "1"],
    :f ["inc" "dec" "identity" "str" "keyword"]},
   :template "(clojure.core.protocols/iterator-reduce! %iter %f)"}
  {:describe "kv-reduce",
   :params
   {:amap ["{}" "{:a 1}" "{:a 1 :b 2 :c 3}"],
    :f ["inc" "dec" "identity"],
    :init ["0" "1" "-1"]},
   :template "(clojure.core.protocols/kv-reduce %amap %f %init)"}
  {:describe "nav",
   :params
   {:coll ["nil" "[]" "[1 2 3]"],
    :k [":a" ":b" ":foo"],
    :v ["nil" "true" "false"]},
   :template "(clojure.core.protocols/nav %coll %k %v)"}]}
]
