[
{:category :clojure.template.functions,
 :parametric
 [{:describe "apply-template",
   :params
   {:argv ["nil" "true" "false"],
    :expr ["nil" "true" "false"],
    :values ["nil" "true" "false"]},
   :template "(clojure.template/apply-template %argv %expr %values)"}
  {:describe "do-template",
   :params
   {:argv ["nil" "true" "false" "0" "1"],
    :expr ["nil" "true" "false" "0" "1"]},
   :template "(clojure.template/do-template %argv %expr)"}]}
]
